.main {
  margin: 50px;
  padding: 50px;
}

.descriptionTitle {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .main {
    margin: 20px;
    padding: 20px;
  }

  .descriptionTitle {
    margin-top: 20px;
    font-size: 1rem;
  }
}